<div class="container my-5">
    <h1 class="mb-3">Companies</h1>

    <table class="table" *ngIf="companys && companys.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Number of Employees</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companys">
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.location }}</td>
                <td>{{ company.nrEmployees }}</td>
                <td><a [routerLink]="['/companys', 'edit', company.id ]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!companys || companys.length <= 0">No companys found</p>

</div>
