<div class="container my-5">
    <h1 class="mb-3">Add new client</h1>
	<div class="row">
		<div class="col-6">
			<form>
				<div class="mb-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" id="name">
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email">
				</div>
				<div class="mb-3">
					<label for="age" class="form-label">Age</label>
					<input type="number" class="form-control" id="age">
				</div>
				<div class="mb-3">
					<label for="money" class="form-label">Money</label>
					<input type="number" class="form-control" id="money">
				</div>
				
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>